.btn {
  font-family: "SuisseIntl-Regular";
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary_button {
  background-color: #000;
  color: #fff;
}

.secondary_button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.secondary_button:hover {
  background-color: #000;
  color: #fff;
}
