.label {
  font-family: "SuisseIntl-Regular";
  font-size: 0.9rem;
  text-transform: uppercase;
  display: block;
  color: #707580;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}
.artist_content {
  font-family: "SuisseIntl-Regular";
  font-size: 0.8rem;
  text-transform: uppercase;
  border: 2px solid #efefef;
  outline: none;
  cursor: pointer;
  height: 30px;
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.artist_content:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
}
.subgenres_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
