.artistdetail_container {
  width: 100vw;
  height: 683px;
}
.artistdetail_innercontainer {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}
.artistdetail_image_container {
  width: 40%;
}
.artist_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artistdetail_content {
  width: 60%;
  display: flex;
}
.artist_detail {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.artist_detail_inner {
  width: 90%;
  height: 100%;
}
.artistdetail_mostpopular {
  width: 35%;
  background-color: #efefef;
}
.artist_detail_name_container {
  display: flex;
  align-items: center;
}
.artist_detail_name {
  font-size: 3.5rem;
  overflow: visible;
  word-break: break-word;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: "SuisseIntl-Regular";
  margin-right: 10px;
}
.subgenre_container {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/images/icons/checkbox-claim.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.trending_icon {
  width: 30px;
  height: 30px;
}
.buttons_container {
  display: flex;
}
.follow_button_container {
  display: flex;
  margin-right: 20px;
}
.follow_button_container button {
  margin-right: 2px;
}
.follow_button_container:hover .heart_icon {
  transform: scale(1.2);
}
#share_button:hover .share_icon {
  transform: scale(1.2);
}
