.artistdetail_container {
  width: 100vw;
  height: 683px;
}
.artistdetail_innercontainer {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}
.artistdetail_image_container {
  width: 40%;
}
.artist_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artistdetail_content {
  width: 60%;
  display: flex;
}
.artist_detail {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.artist_detail_inner {
  width: 90%;
  height: 100%;
}
.artistdetail_mostpopular {
  width: 35%;
  background-color: #efefef;
}
