.artistdetail_container {
  width: 100vw;
  height: 683px;
}
.artistdetail_innercontainer {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}
.artistdetail_image_container {
  width: 40%;
}
.artistdetail_content {
  width: 60%;
  display: flex;
}
.artist_detail {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.artist_detail_inner {
  width: 90%;
  height: 100%;
}
.artistdetail_mostpopular {
  width: 35%;
  background-color: #efefef;
}

@media screen and (max-width: 767px) {
  .artistdetail_container {
    width: 100vw;
    height: 100vh;
  }
  .artistdetail_innercontainer {
    width: 100%;
    flex-direction: column;
  }
  .artistdetail_image_container {
    width: 100%;
    height: 350px;
  }
  .artistdetail_content {
    width: 100%;
    flex-direction: column;
  }
  .artist_detail {
    width: 100%;
  }
  .artist_detail_inner {
    width: 95%;
    margin: 0 auto;
  }
  .artistdetail_mostpopular {
    width: 100%;
    height: 318px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .artistdetail_container {
    width: 100vw;
    height: 100vh;
  }
  .artistdetail_innercontainer {
    width: 100%;
    flex-direction: column;
  }
  .artistdetail_image_container {
    width: 100%;
    height: 350px;
  }
  .artistdetail_content {
    width: 100%;
  }
  .artist_detail {
    width: 100%;
  }
  .artist_detail_inner {
    width: 95%;
    margin: 0 auto;
  }
  .artistdetail_mostpopular {
    width: 100%;
    margin-bottom: -90px;
  }
}
