.socialmedia_container {
  display: flex;
  border-top: 2px solid #000;
  justify-content: space-between;
}
.socialmedia_inner_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
}
#plus_button {
  margin-top: 20px;
}
.socialmedia_button_container {
  position: relative;
  height: 52px;
}

@media screen and (max-width: 767px) {
  .socialmedia_container {
    margin-bottom: -90px;
  }
  .socialmedia_button_container {
    display: none;
  }
  .socialmedia_inner_container {
    display: block;
  }
  .socialmedia_inner_container a {
    margin-right: 20px;
  }
}
